@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 236, 243, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Windows XP-style scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border: 1px solid #7f7f7f;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

